* {
    font-family: Arial;
    text-decoration: none;
    font-size: 16px;
}

h1 {
    text-align: center;
}

a {
    display: block;
    text-align: center;
}

button {
    background: #8b0000;
    color: #fff;
    border: none;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    padding: 13px 20px;
}

table {
    border-collapse: collapse;
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

tr {
    height: 50px;
}

thead tr {
    background:#FFED86;
}

tbody tr {
    border-bottom: 1px solid #E3F1D5 ;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form input {
    width: 200px;
    padding: 10px;
    margin: 0 auto;
    border: 1px #9ca3af solid;
    border-radius: 6px;
    background: #edf2f7;
}

form div {
    margin-bottom: 20px;
}

form textarea {
    width: 300px;
    height: 100px;
    border: 1px #9ca3af solid;
    border-radius: 6px;
    background: #edf2f7;
}

form select {
    width: 150px;
    border: 1px #9ca3af solid;
    border-radius: 6px;
    background: #edf2f7;
}
